:root {
  --base-font-size: 16px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  padding: 0 0.625rem; /* 10px */
  background-color: rgb(233, 229, 223);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  max-width: 23.4375rem; /* 375px */
  min-height: 23.75rem; /* 380px */
  margin: 6.25rem auto 0; /* 100px */
  border-radius: 0.625rem; /* 10px */
  padding: 1.875rem 0.625rem; /* 30px 10px */
  color: #212121;
  background-color: #eee8e8;
  box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.3); /* 5px 5px */
  text-align: center;
  position: relative;
}

.loader-container {
  background-color: #f1f1f1;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 0.625rem; /* 10px */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-out, opacity 0.4s ease-out;
}

.loader-container.active {
  visibility: visible;
  opacity: 1;
}

.city-name {
  font-family: Lato, sans-serif;
  font-size: 3.125rem; /* 50px */
  color: #333;
}

.country-name {
  font-size: 1.5rem; /* 24px */
  margin-bottom: 2.8125rem; /* 45px */
  color: #606060;
}

.temperature {
  font-family: Lato, sans-serif;
  font-size: 4.375rem; /* 70px */
  font-weight: 700;
  color: #212121;
}

.info-icon-container {
  width: 6.25rem; /* 100px */
  height: 6.25rem; /* 100px */
  margin: 0 auto;
  position: relative;
}

.info-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
